# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

################################################################
# general fallback
################################################################
[*]
charset = utf-8
# space and indent
indent_style = space
indent_size = 4
tab_width = 4
# newline
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

################################################################
# JSON
################################################################

[*.{json,jsonc}]
# space and indent
indent_style = space
indent_size = 2
# newline
insert_final_newline = false

################################################################
# PowerShell
################################################################

[*.{ps1,psm1,psd1}]
# space and indent
indent_style = space
indent_size = 4
# newline
insert_final_newline = true

################################################################
# YAML
################################################################

[*.{yaml,yml}]
# space and indent
indent_size = 2
indent_style = space
tab_width = 2
# newline
insert_final_newline = true
